@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --clr-grey1: #999;
  --clr-grey2: #555;
  --clr-white: #fff;
  --clr-black: #000;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

span,
input[type] {
  display: inline-block;
}

::placeholder {
  text-transform: capitalize;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-grey1);
  box-shadow: inset 2px 2px 5px var(--clr-grey2),
              inset -2px -2px 5px var(--clr-grey2),
              0 2px 2px var(--clr-grey2);
}

header h1 {
  color: var(--clr-white);
  font-size: 32px;
  font-weight: 600;
  text-transform: capitalize;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.weather .wrapper {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-image: url(../images/Mist.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.weather-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  backdrop-filter: blur(5px);
  background: rgba(0,0,0,0.1);
  box-shadow: inset 1px 1px 4px var(--clr-white),
              inset -1px -1px 4px var(--clr-black);
  font-weight: 600;
  text-transform: capitalize;
}

.weather-info {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  color: var(--clr-white);
  text-shadow: 0 0 4px var(--clr-black);
}

.weather-card form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.weather-card input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: var(--clr-grey1);
  color: var(--clr-grey2);
  font-size: 16px;
  font-weight: 600;
  outline: none;
}

.search-btn {
  border: none;
  border-radius: 0 5px 5px 0;
  flex-basis: 20%;
  position: relative;
  background-color: var(--clr-grey2);
  color: var(--clr-white);
  font-size: 20px;
  opacity: .4;
  outline: none;
  text-indent: -99999px;
  pointer-events: none;
}

.pointer-auto {
  opacity: 1;
  pointer-events: initial;
}

.search-btn::before {
  content: '\f002';
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'fontAwesome';
  text-indent: 0;
  transform: translate(-50%, -50%);
}

.city-info,
.temp-info,
.weather-desc {
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.weather-desc { flex-direction: column; }
.weather-img { width: 60px; }
.city-name { font-size: 20px; }
.temp-celcius { font-size: 45px; }
.description { font-size: 16px; }
.display-none { display: none; }

/*=================================
  main styling ends here
=================================*/